@import url('https://fonts.googleapis.com/css?family=Abel:400|Baumans:200,400|Source+Code+Pro:400,300');

a:hover {
	text-decoration: none;
}

body {
	font-family: 'Source Code Pro', sans-serif;
}

.black {
	background-color: #000;
}

.pink {
	background-color: #92289a;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.join-discord {
	width: 300px;
}

.black hr {
	border-style: none;
    border-width: 0;
    margin: 68px 0;
    color: rgba(255,255,255,.15);
    background-color: rgba(255,255,255,.15);
    height: 1px;
}

/**********************************************************/
/************************ HEADER **************************/
/**********************************************************/

.header {
	background: url('../img/header_bg.png') no-repeat center;
	background-size: cover;
	min-height: 1000px;
	position: relative;
}

.header_our_services {
	background: url('../img/header_bg_our_services.png') no-repeat center;
	background-size: cover;
	position: relative;
	min-height: 650px;
}

.header_coaching {
	background: url('../img/header_bg_coaching.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	min-height: 650px;
}

.header_our_team {
	background: url('../img/header_bg_our_team.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	min-height: 650px;
}

.header_past_orders {
	background: url('../img/header_bg_past_orders.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	min-height: 650px;
}

.header_faq {
	background: url('../img/header_bg_faq.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	min-height: 650px;
}

.header_contact {
	background: url('../img/header_bg_contact.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	min-height: 650px;
}

.header_join_our_team {
	background: url('../img/header_bg_join_our_team.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	min-height: 650px;
}

.header_order {
	background: url('../img/header_bg_order.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	min-height: 650px;
}

.form-control {
	font-size: 13px!important;
}

.header-page-title {
	font-weight: 400;
	letter-spacing: 5px;
	color: #74fbf0;
	font-size: 96px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

@media (max-width: 768px) {
	.header-page-title {
		font-size: 72px;
	}
	.section-h3-blue {
		font-size: 27px!important;
	}
	.section-h1-pink {
		font-size: 48px!important;
		letter-spacing: 2px!important;
	}
	.our_team_content {
		text-align: center!important;
	}
}

@media (max-width: 640px) {
	.header-page-title {
		font-size: 34px;
	}
	.section-h3-blue {
		font-size: 20px!important;
	}
	.section-h1-pink {
		font-size: 34px!important;
		letter-spacing: 2px!important;
	}
}

.header-page-description {
	margin: 0 auto;
	background: rgba(0,0,0,.5);
	max-width: 36em;
	padding-right: 5px;
	padding-left: 5px;
}

.header-page-description p {
	color: #e199de;
	font-size: 14px;
	line-height: 1.6em;
	letter-spacing: 3px;
}

.header_brown {
	background-color: #100806;
}

.layer {
	background-color: rgba(23,23,23,.29);
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-header {
	padding: 30px 0;
}

header .logo {
	max-width: 140px;
	height: auto;
}

.navbar-toggler {
	margin: 0 auto;
}

.nav-pink {
	color: #ff24f8!important;
}

.nav-item {
	padding-left: 18px!important;
	font-weight: 300;
	text-transform: uppercase;
	color: rgba(255,255,255,.6);
	font-size: 12px;
	letter-spacing: 2px;
}

.nav-item:hover, .nav-item.active {
	color: #00fbff!important;
}

.header-baseline {
	margin-top: 100px;
	margin-bottom: 350px;
}

.header-baseline h1 {
	color: #FFF;
	font-size: 54px;
}

.button {
	border: solid 2px #00ffea;
	background-color: transparent;
	-webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -ms-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
    color: #00ffea;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 21px 34px;
    font-size: 15px;
}

.button:hover {
	background-color: #00ffea;
	color: #FFF;
}

.button-lg {
	padding: 25px 46px;
	font-size: 20px;
}

.button-sm {
	padding: 13px 26px;
	font-size: 12px;
}

.button-pink {
	border-color: #ff24f8;
	color: #ff24f8;
}

.button-pink:hover {
	background-color: #ff24f8;
}

@media (max-width: 991px) {
	.button {
		font-size: 12px;
	}
	.button-lg {
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	.center-button-div {
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.header-baseline {
		margin-bottom: 150px;
	}
	.button-lg {
		padding: 21px 34px;
		font-size: 12px;
	}
}

/**********************************************************/
/*********************** SECTION **************************/
/**********************************************************/

section {
	padding-top: 80px;
	padding-bottom: 80px;
}

section.black {
	color: #FFF;
	font-size: 14px;
}

.section-header {
	margin-bottom: 20px;
}

.section-content {
	margin-top: 80px;
}

.section-content p {
	line-height: 1.75em;
	font-size: 14px;
	letter-spacing: .4px;
}

.section-title {
	font-family: 'Baumans', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	color: #00c3ff;
	letter-spacing: 2px;
	font-size: 32px;
	padding-bottom: 10px;
}

.section-footer {
	margin-top: 75px;
}

.section-h1-pink{
	font-size: 60px;
	color: #f769fc;
	letter-spacing: 7px;
	text-transform: uppercase;
}

.section-h3-blue {
	margin-top: 75px;
	font-size: 32px;
	color: #00c3ff;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section-title-green {
	color: #00ff4d!important;
}

.section-title-pink {
	color: #f769fc!important;
}

.our_team_img {
	max-width: 268px;
	height: auto;
}

.our_team_content {
	text-align: left;
	line-height: 1.2em;
	word-wrap: break-word;
}

.our_team_content h4 {
	font-size: 20px;
}

.our_team_content p {
	color: rgba(240,122,238,.68);
	line-height: 1.5em;
}

.review {
	margin-top: 50px;
	color: #79f2f6;
	line-height: 1.35em;
	font-size: 15px;
}

.review p {
	margin: 0 auto;
	width: 800px;
	word-break: break-word;
}

.boost-method {
	color: #FFF!important;
}

.boost-method h3 span {
	color: #00c3ff;
	text-transform: uppercase;
}

.boost-method h3 {
	padding-bottom: 15px;
}

.boost-method.boost-pink h3 span {
	color: #f769fc!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    padding: 15px 30px!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: #555 #555 #555;
}

.tab-content {
	margin-top: 20px;
}

.nav-tabs {
    border-bottom: 1px solid #555;
}
